---
title: Summary of block {{ block }}
slug: {{ block }}
next: true
prev: true
---

{% raw -%}
import { Badge } from '@astrojs/starlight/components';
{%- endraw %}

## Sequences in block {{ block }}

<div class="badge badge-info">{{ num_seqs_in_block }} sequences</div>

{% for seq in seqs %}
- <a href="./{{ block }}/{{ seq.tag }}">{{ seq.tag }}</a>: {{ seq.description }}
{% endfor %}