---
title: {{ tag }}
slug: {{ tag[:4] }}/{{ tag }}
---

{% raw -%}
import { Badge } from '@astrojs/starlight/components';
{%- endraw %}

[OEIS<i class="fa-solid fa-up-right-from-square"></i>](https://oeis.org/{{ tag }}) 
{% for m in mods -%}
[Lean4<i class="fa-solid fa-up-right-from-square"></i>](https://provables.github.io/sequencelib/docs/{{ m }}) 
{% endfor %}

{{ description }}

<div class="badge badge-info">offset: {{ offset }}</div>
<div class="badge badge-info">codomain: {{ codomain }}</div>

## Declarations

{% for name, decl in decls.items()|sort %}
- <span>
    <a href="{{ base_url }}/{{ decl.mod }}#{{ decl.full_name }}" class="align-middle">{{ name }}</a>
    <span class="badge badge-{{ decl.computability_tag }} ml-4 mb-0">{{ decl.computability }}</span>
  </span>
{%- endfor %}

## Values

<div data-pagefind-ignore>
<div class="overflow-x-scroll rounded-box border px-4"
    style="background-color: var(--sl-color-bg-sidebar); border-color: var(--sl-color-accent)"
>
  <table class="table-auto">
    <thead>
      <tr>
        <th>n</th>
        {%- for idx in value_indices %}
        <th class="text-right">{{ idx }}</th>
        {%- endfor %}
      </tr>
    </thead>
    <tbody>
      {%- for name, decl in decls.items()|sort %}
      <tr>
        <th><a href="{{ base_url }}/{{ decl.mod }}#{{ decl.full_name }}">{{ name.strip() }}</a></th>
        {%- for value in decl["values"] %}
        <td class="text-right">
          {%- if value[1] %}
            <a href="{{ base_url }}/{{ decl.mod }}#{{ value[1] }}">{{ value[0] }}</a>
          {%- else %}
            {{ value[0] }}
          {%- endif %}
        </td>
        {%- endfor %}
      </tr>
      {%- endfor %}
    </tbody>
  </table>
</div>
</div>

## Equivalences

{% for seq1, seq2, equiv, mod in equivalences %}
- [{{ seq1 }} = {{ seq2 }}]({{ base_url }}/{{ mod }}#{{ equiv }})
{% endfor %}