---
import Default from "@astrojs/starlight/components/Pagination.astro";
---

<Default />

<div
  class="footer sm:footer-horizontal footer-center text-base-content p-4"
  style="background-color: var(--sl-color-gray-6)"
>
  <aside class="text-sm">
    <p>
      <code>Sequencelib</code> is developed by <a href="https://github.com/waltermoreira">Walter Moreira</a> and
      <a href="https://github.com/joestubbs">Joe Stubbs</a>
    </p>
    <p>
      Sequence data provided by <a href="https://oeis.org">The Online Encyclopedia of Integer Sequences</a>
      under the <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA-4.0 license</a>.
    </p>
  </aside>
</div>
