---
import Default from "@astrojs/starlight/components/Pagination.astro";
---

<Default />

<div
  class="footer sm:footer-horizontal footer-center text-base-content p-4"
  style="background-color: var(--sl-color-gray-6)"
>
  <aside>
    <p>
      <code>Sequencelib</code> is developed by <a href="https://github.com/waltermoreira">Walter Moreira</a> and
      <a href="https://github.com/joestubbs">Joe Stubbs</a>
    </p>
  </aside>
</div>
