---
// Import the `<StarlightPage>` component first to set up cascade layers.
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';

---

<StarlightPage frontmatter={{ title: 'My custom page' }}>
  <p>foo</p>
</StarlightPage>